/*====================
        Vnese Books
======================*/

.home-header {
    background: #fafafa;
    border: 1px solid #e5e5e5;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 7px;
}
.home-header h2 {
    background: #00b7f1;
    padding: 0 20px 0 15px;
    height: 100%;
    position: relative;
    margin: 0;
    float: left;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.home-header>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.home-header>ul li {
    display: block;
    float: left;
}
.home-header>ul li a {
    display: block;
    height: 36px;
    line-height: 22px;
    color: #444;
    font-size: 12px;
    white-space: nowrap;
    padding: 7px 9px;
}
.home-header h2:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 18px solid transparent;
    border-left: 13px solid #00b7f1;
    border-right: 0 solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    right: -13px;
}
.home-header h2 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: block;
    color: #fff;
    padding: 0;
    margin: 0;
}
/*====================
        Remove from bootstap
======================*/
.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}
/*====================
        Card
======================*/
.removeLinkStyle{
    text-decoration: none !important;
    color: inherit !important ;
}

.card_container {
    padding: 1em;
    justify-content: center;
    cursor: pointer;
    
    /* &:hover: {
        boxShadow: "0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)",

        cursor: 'pointer'
    }, */

    
}
.card_title{
    font-size: 1em;
    color: #141414;
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 1.5em;  
}
.card_discount{
    color: #5a5656;
    font-size: 0.75em;
     margin-left: 0.5em;
     opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
.card_price{
    font-size: 0.8em; 
    color: #141414;
    font-family: 'Arial';
    opacity: 0.7;
    margin-top: 0;
    
}
.cover_container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.cover_container_searchpage{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    
}
.card_image {
    max-width: 120px;
    height: 180px;
    margin-bottom: 12px;
}

/*====================
    Card Details Page
======================*/


